*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: poppins;
}
body{
    height: 100vh;
    font-family: 'poppins';
   letter-spacing: .5px;
    font-weight: bold;
    /* all items in center */
    display: grid;
    place-items: center;
}