*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: poppins;
}
body{
    height: 100vh;
    font-family: 'poppins';
   letter-spacing: .5px;
    font-weight: bold;
    /* all items in center */
    display: grid;
    place-items: center;
}
img{
    height: 100%;
    width: 100%;
    display: block;
    object-fit: cover;
}
h2{
    font-weight: bold;
    line-height:1.3;
}
section{
    display: grid;
   grid-template-columns: 25% 30% 15% 25%;
   gap: 15PX;
}